
.background {
width: 1000px;
height: 600px;
  border: 2px black solid;
  margin-left: 2.5%;
  margin-top: 2%;
  position :relative;
}
.fond{
  width: 1000px;
  height: 600px;
  opacity: 0.8;
}
.images {
  width: 150px;
  height: 150px;
  z-index:100;
  position: absolute;
}
#perso {
  z-index: 200;
  position: absolute;
  top: 300px;
  left: 600px;
}

.Jeu{
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 100px;
  align-items: center;
  background: grey;
  margin: 0 auto;
  margin-top: 100px;
  transition: height 1s ease;
}

#jouer{
  text-align: center;
}

.Jeu:hover{
height:200px;
cursor: pointer;
}
.Jeu:hover #jouer{
  border: black 1px solid
  color #000
}
.jeuxX{
  display: none;
}

table{
  position: absolute;
  top: 20px;
  right: 50px;
  border: #000 1px solid;
  border-collapse: collapse;
  margin-top: 20px;
}
table th, td{
  width: 80px;
  border: #000 1px solid;
}
